<footer>
  <nav>
    <ul class="bottomlinks">
      {% for link in site.data.links %}
      {% if link.url contains "http" %}
        <li><a class="extlink" href="{{ link.url }}">{{ link.lnk }} {% include extlink.svg %}</a></li>
      {% else %}
        <li><a href="{{ link.url }}">{{ link.lnk }}</a></li>
      {% endif %}
      {% endfor %}

      <li><span class="socials">
        <a href="https://floss.social/@containertoolbx" class="social" rel="me">{% include mastodon.svg %}</a>
        <a href="https://github.com/containers/toolbox" class="social">{% include github.svg %}</a>
      </span></li>
    </ul>
  </nav>
  <p>&copy; {{ site.title }}, 2021 &ndash; 2024<br>
  <a href="{{ site.sourceurl }}">Website source</a></p>
</footer>
