<footer>
  <nav>
    <ul class="bottomlinks">
      <li><a href="/">Home</a></li>
      <li><a href="/install">Install Guide</a></li>
      <li><a href="/distros">Distros</a></li>
      
      <li><a class="extlink" href="https://github.com/containers/toolbox/blob/main/CONTRIBUTING.md">Contribution Guide {% include extlink.svg %}</a></li>
      <li><a class="extlink" href="https://matrix.to/#/#toolbx:matrix.org">Discuss on Matrix {% include extlink.svg %}</a></li>
      <li><a class="extlink" href="https://github.com/containers/toolbox/issues">GitHub Issues {% include extlink.svg %}</a></li>

      <li><span class="socials">
        <a href="https://floss.social/@containertoolbx" class="social" rel="me">{% include mastodon.svg %}</a>
<!--
                    <a href="https://twitter.com/gnome" class="social">{% include twitter.svg %}</a>
            
        <a href="https://www.youtube.com/user/GNOMEDesktop" class="social"><svg xml:space="preserve" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path d="M8 2.05c-1.872 0-3.744.052-5.549.156C.48 2.319.197 3.893.086 5.416a30.086 30.086 0 0 0 0 4.552c.111 1.524.393 3.098 2.365 3.211 3.61.208 7.489.208 11.098 0 1.972-.113 2.254-1.687 2.365-3.21a30.081 30.081 0 0 0 0-4.552c-.111-1.524-.393-3.098-2.365-3.211A96.995 96.995 0 0 0 8 2.05ZM6.082 4.982l4.855 2.544-4.855 2.545V4.98Z"/></svg></a>
            -->
      </span></li>
    </ul>
  </nav>
  <p>&copy; {{ site.title }}, 2021 &ndash; 2024<br>
  <a href="{{ site.sourceurl }}">Website source</a></p>
</footer>
